body{
	background: rgb(8,10,92);
	background: linear-gradient(90deg, rgba(8,10,92,1) 0%, 
	rgba(7,98,117,1) 34%, rgba(58,174,198,1) 70%, rgba(154,237,254,1) 100%);
	font-family: 'Roboto', sans-serif;
}

h1{
	background: #2980b9;
	color: white;
	margin: 0;
	padding: 10px 20px; /*TB LR*/
	font-size: 24px;
	text-transform: uppercase;
	font-weight: normal;
}

ul{
	list-style: none; /*No bullet points*/
	width: 100%;
	margin: 0;
	padding: 0;
}

li{
	background: #ffffff;
	height: 40px;
	line-height: 40px; /*Makes line take entire space*/
	color: black;
}

li:nth-child(2n){
	background: #f7f7f7;
}

#container{
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
	width: 500px;
	margin: 100px auto;
	background: #f7f7f7;
}

.completed{
	text-decoration: line-through;
	color: #b8b1b0;
}

input{
	font-size: 18px;
	background-color: #f7f7f7;
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color: #2980b9;
	border: 1px solid #2980b9;

}

input:focus{
	background: #ffffff;
	border: 3px solid #2980b9;
	outline: none; /*Bowser highlight*/
}

.fa-plus{
	float: right;
}

span{
	background: #e74c3c;
	height: 40px;
	margin-right: 20px;
	text-align: center;
	color: white;
	width: 0px;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
}

li:hover span{
	width: 40px;
	opacity: 1.0;
}